div,
section {
  --main-transition-left: left 500ms;
}

@media (prefers-color-scheme: dark) {
  .night.dark-scheme {
    background: #474747;
    color: #ddd;
  }

  .night.border {
    border-bottom: 10px solid #0f0f0f !important;
  }

  .night.nav {
    background: #0f0f0f;
    box-shadow: 0px 1px 3px #ececec;
  }

  a.night {
    color: #ddd;
  }

  #toggle.night {
    color: #fff;
    border: 4px solid #fff;
    flex-direction: row;
  }

  #dark.set {
    background-color: rgb(65, 65, 65);
  }

  #light {
    color: #ececec
  }
}

html,
ul,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  font-display: swap;
  background-color: #eaeaea;
  height: 91vh;
}

p {
  line-height: 1.5em;
  margin: 5px;
}

p:nth-of-type(8n) {
  background-color: rgba(255, 255, 0, 0.767);
  color: #0a0a0a;
  font-weight: bold;
  padding: 5px;
}

#nav-svg {
  width: 100%;
  position: relative;
}

#toggle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  width: max-content;
  height: 30px;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  opacity: .9;
  border: 4px solid black;
  border-radius: 500px;
  z-index: 5;
}

#light,
#dark {
  display: flex;
  border: none;
  background-color: transparent;
  border-radius: 100px;
  width: 50%;
  align-items: center;
}

.icon {
  cursor: pointer;
  width: 20px;
}

#dark {
  color: rgb(65, 65, 65);
}

#light.set {
  background-color: rgb(65, 65, 65);
}

header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #f7f7f7;
  top: 0;
  transition: top 2s;
}

header .border-clip {
  width: 100%;
  position: absolute;
  height: 6px;
  top: 94%;
  background: linear-gradient(to right, rgb(121, 21, 121), rgb(255, 255, 57), rgb(52, 255, 228), rgb(255, 0, 149));
}

header.scrolled {
  top: -25%;
}

#nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.nav-li {
  width: 33%;
  padding: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 750ms;
}

#section-wrapper {
  display: grid;
  margin: 7% 3%;
}

#first-section,
#second-section,
#third-section {
  margin: 0 3.25%;
  width: 90%;
}

section.hide {
  width: 0%;
  position: absolute;
  left: -100%;
  transition: var(--main-transition-left);
}

.hide h1,
.hide p {
  display: none;
}

.visible {
  width: 98%;
  display: block;
  position: absolute;
  left: 0%;
  transition: var(--main-transition-left);
  margin: 0 .25%;
}

#content {
  width: 100%;
  height: auto;
}


#content h1,
section h1 {
  padding: 10px 5px;
  font-size: 1.75em;
  background-color: #000000;
  color: #f6f6f6;
}

.github-link {
  background: rgb(255, 255, 57);
  color: black;
  padding: 10px;
  writing-mode: vertical-lr;
  position: fixed;
  right: -5px;
  top: 20%;
  z-index: 2;
}

.github-link:hover {
  right: 0;
  cursor: pointer;
  font-weight: 600;
}

.gh-mark {
  height: 25px;
}

.styled-link {
  font-weight: 600;
}

.project.right h2 {
  text-align: end;
}

.project h3 {
  margin: 0;
  font-size: .9em;
  background-color: rgb(169, 169, 169);
}

h3.double-radius {
  border-radius: 0px 0px 12px 12px !important;
}

.project.left h3 {
    border-radius: 0px 0px 0px 12px;
}

.project.right h3 {
    border-radius: 0px 0px 12px 0px;
}


.split-heading {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
}

.right .split-heading {
  flex-flow: row-reverse;
}

.two-up-layout {
    /* display: flex; */
    /* justify-content: space-between; */
    max-height: 835px;
    overflow-y: hidden;
    margin-bottom: 10px;

}

/* .copy-container {
  width: 45%;
} */

.left .image-container {
  max-height: max-content;
  margin: 0px;
  float: left;
}

.right .image-container {
    max-height: max-content;
  margin: 0px;
  float: right;
}

.split-heading a {
  align-content: center;
  padding: 0px 10px;
}

.image-container img {
  width: 45vw;
  height: auto;
}

.image-container iframe {
  width: 100%;
  height: 50vh;
}

a {
  color: rgb(51, 201, 201)
}

a:visited {
  color: purple;
}

section h2 {
  background-color: #1b1b1b;
  color: #f6f6f6;
  padding: 5px 10px;
  font-size: 1.5em;
  margin: 0px;
}

section h3 {
  padding: 5px;
  font-size: 1.25em;
}

#content h2 {
  background-color: 1b1b1b;
  font-size: 1.75em;
  padding: 5px 15px;
}

#content img {
  min-width: 60%;
  max-width: 75%;
}

#content #avatar {
  margin-right: 2%;
  min-width: 2em !important;
  max-width: 2em !important;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(0, 255, 153, 0.884);
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: .75em;
}

#shelf-container {
  border: 2px dashed;
  border-radius: 50px;
  margin: 10px 0px;
}

#project-tf {
  height: 600px;
  margin: 0 .25%;
}

.bg-span {
  font-weight: 100;
}

#border-slide {
  position: absolute;
  transform: translateX(-50%);
  width: 300%;
  height: 70%;
  border-bottom: 10px solid #f7f7f7;
  transition: left 500ms;
}

header #border-slide {
  top: 20%;
}

footer #border-slide {
  bottom: -1px;
}

.behind-one {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 50%, 49% 50%, 49% 100%, 0 100%);
  left: 0;
}

.behind-two {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 50%, 49% 50%, 49% 100%, 0 100%);
  left: 36.5%;
}

.behind-three {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 60% 50%, 49% 50%, 49% 100%, 0 100%);
  left: 70%;
}

.desaturate {
  text-shadow: none;
  -webkit-filter: saturate(0);
  -o-filter: saturate(0);
  -ms-filter: saturate(0);
  -moz-filter: saturate(0);
  filter: saturate(0);
  opacity: .6;
  font-weight: 300;
}

.one-vis,
.two-vis,
.three-vis {
  grid-template-columns: 100%;
}

footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: bottom 2s;
  background-color: #f7f7f7;
}

footer .border-clip {
  width: 100%;
  position: absolute;
  height: 4px;
  bottom: 0;
  background: linear-gradient(to right, rgb(121, 21, 121), rgb(255, 255, 57), rgb(52, 255, 228), rgb(255, 0, 149));
}

footer.scrolled {
  bottom: -20%;
}

.night.dark-scheme {
  background: #474747;
  color: #ddd;
}

.night.border {
  border-bottom: 10px solid #0f0f0f !important;
}

.night.nav {
  background: #0f0f0f;
  box-shadow: 0px 1px 3px #ececec;
}

a.night {
  color: #ddd;
}

#toggle.night {
  color: #fff;
  border: 4px solid #fff;
  flex-direction: row;
}

#dark.set {
  background-color: rgb(65, 65, 65);
}

#light {
  color: #ececec
}